{% extends 'web_lib/main.html' %}

{% block content %} 
    <div class="container">
        <h1>Books</h1>
        
        <table class="table table-striped">
            <a class="btn btn-sm btn-info" aria-current="page" href="{% url 'create_book' %}" >Создать книгу</a>

            <thead>
              <tr>
                <th scope="col">Название</th>
                <th scope="col">Описание</th>
                <th scope="col">Количество страниц</th>
                <th scope="col">Дата публикации</th>
                <th scope="col">Изменить</th>
                <th scope="col">Удалить</th>
              </tr>
            </thead>
            <tbody>
                {% if books %}
                    {% for book in books%}
                        <tr>
                            <th scope="row">
                                <a href="{% url 'book_id' book.pk %}">{{book.title}}</a>    
                            </th>
                            <td>{{book.description}}</td>
                            <td>{{book.page_num}}</td>
                            <td>{{book.publisherd}}</td>
                            <td><a class="btn btn-sm btn-info" aria-current="page" href="{% url 'update_book' book.pk %}" >Изменить</a>
                            </td>
                            <td><a class="btn btn-sm btn-danger" aria-current="page" href="{% url 'delete_book' book.pk %}" >Удалить</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <p>Ещё нет ни одной книги.</p>
                {% endif %}
            </tbody>
          </table>
    </div>
{% endblock  %}
